.sign-up-form
  width: 280px
  padding: 20px
  border: 1px solid $staance-blue
  text-align: center
  background-color: $background-white

  input
    margin-top: 10px
    width: 100%

  .button
    background-color: $staance-blue

#twitter_email
  color: $staance-blue
  font-size: 18px
