.sign-up-form
  margin: 60px auto
  width: 350px
  padding: 40px
  text-align: center
  background-color: white
  border-radius: 0 0px 4px 4px
  border-left: 1px solid #acacac
  border-right: 1px solid #acacac
  border-bottom: 1px solid #acacac

  input
    margin-top: 10px
    height: 50px
    width: 100%

  .button
    background-color: $staance-blue

#twitter_email
  color: $staance-blue
  font-size: 22px
  margin-bottom: 15px
  font-weight: 700px


