#featured-campaigns
  background-color: $background

#featured-video-box
  @include outer-container
  position: relative
  text-align: center

#arrow
  position: absolute
  top: 46%
  color: $font-on-light
  transition: 0.3s

  &:hover
    cursor: pointer
    color: $pink

.left
  left: 20px

.right
  right: 20px

#featured-video-image-box
  width: 65%
  margin: 0 auto

#featured-video-image
  position: relative
  display: none

  &:nth-child(1)
    display: block

.fancybox img
  width: 100%
  height: 500px
  border-radius: 20px


#radial-gradient
  @include radial-gradient(transparent, $background)
  position: absolute
  top: 0
  width: 100%
  height: 500px

#featured-details-box
  padding: 20px
  background-color: $green
  margin: -2px

#slider-icons
  text-align: center

  i
    margin: 0 10px
    color: $font-on-light
    transition: 0.3s

    &.selected
      color: $background

    &:hover
      cursor: pointer
      color: $pink

#featured-details-inner-box
  @include outer-container
  margin-top: 10px

#featured-video-details
  display: none

  &:nth-child(1)
    display: block

#campaign-name-stats
  color: $font-on-light
  font-weight: 700

#campaign-name
  color: $background-white
  font-size: 40px

  transition: 0.3s

  &:hover
    text-decoration: underline

#campaign-stats
  padding-top: 10px
  font-size: 17px

  span
    font-size: 25px
    font-weight: 700
    color: $pink
