.featured-campaigns
  @include outer-container
  margin-top: 50px

  .featured-video-box
    position: relative
    text-align: center

    .arrow, .featured-video
      display: inline-block

    .arrow
      position: absolute
      top: 160px
      color: $staance-dark-gray

      &:hover
        color: $staance-blue

      &.left
        left: 75px

      &.right
        right: 75px

    .featured-video
      position: relative
      width: 65%
      margin: 0 auto
      display: none

      &:nth-child(1)
        display: block

      img
        border-radius: 10px
        width: 100%
        height: 400px

      .features-details
        position: absolute
        background-color: black
        border-radius: 0 0 10px 10px
        opacity: 0.8
        width: 100%
        height: 90px
        padding: 5px 15px
        bottom: 0
        color: white

        .campaign-name-stats
          float: left
          text-align: left

          .campaign-name
            font-size: 28px

          .campaign-stats
            margin-top: 15px
            font-style: italic
            font-weight: 300

            span
              font-size: 20px
              font-weight: 700
              color: $staance-yellow

        .button
          background-color: $staance-blue
          float: right
          margin: 20px 10px 0 0 

    .slider-icons
      margin-top: 20px

      i
        margin: 0 10px

        &:nth-child(1)
          color: $staance-yellow
