#form_two h2
  height: 3333px

#form_one, #form_two, #form_three
  margin: 15px auto
  @include outer-container()
  animation: fadein 2s

  h2
    background-color: $lightgray
    border-radius: 5px
    color: $background
    font-size: 25px
    padding: 20px 26px 10px 26px
    min-height: 832px

  form
    padding-left: 35px
  
  label:after
    content: "\A\A"
    white-space: pre
  
  .form_head
    @import 'campaigns/new/welcome'
    width: 105.1%
    background-color: $background
    margin: -20px 0 35px -26px
    border-radius: 5px 5px 0 0
    padding-top: 27px
    color: white
  
  .label
    display: none
    margin-bottom: 10px
  
  #new_campaign
    @include outer-container()
  
  .form_full
    @include span-columns(12 of 12)
    margin-bottom: 15px
  
  .form_half 
    @include span-columns(6 of 12)
    margin-bottom: 30px

    input
      width: 90%
  
  .right
    margin-right: 0

    textarea
      width: 90%

  .title input
    width: 95%
    margin-bottom: 30px
  
  .description
    width: 100%
    border-bottom: 1px solid #bbbbbb
  
  li
    margin-bottom: 14px
    list-style: none
    
    &:last-child
      margin-bottom: 0
    
    input, textarea
      font-size: 17px

      &[type="submit"]
        background-color: $green
        height: auto
        padding: 10px 20px
        border: none
        border-radius: 4px
        color: white
        transition: 0.3s
        
        &:hover
          background-color: $orange
          cursor: pointer
  
  #campaign_topic_id
    height: 45px
    padding-left: 10px
    font-size: 17px
    border: 2px solid #bbb
    width: 90%
    background: #f8f8f8
    -webkit-appearance: none
    border-radius: 5px
    color: #7E7E7E
  
  @media screen and (-webkit-min-device-pixel-ratio: 0)
    
  #campaign_topic_id select
    padding-right: 30px
  
  .no-pointer-events #campaign_topic_id:after
    content: none
  
  #cont_button
    width: 177px
    position: fixed
    right: 50px
    bottom: 50px
    background-color: $pink

    &:hover
      background-color: $orange

  #funding_goal
    font-size: 20px
    margin-bottom: 5px
