<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Campaign <%=@campaign.title%> is live!</h1>
    <p>
      You have successfully created your new Staance campaign!  It's time
      to start letting your friends and compatriots know about it.

      Log back on to <a href="/campaigns/<%=@campaign.id%>"> your Staance campaign</a> and share the link via your social networks.
    </p>
    <p>Thanks for trusting us, and have a great day!</p>
  </body>
</html>