Topic Title:
<%= @topic.title %>

<ul>
	<li data-sort="title">Title</li>
	<div class="item" data-title="Baseball">…</div>
</ul>

<div id="grid">
    <div class="item" data-groups='["photography"]' data-date-created="2010-09-14" data-title="Baseball">
        <img src="img/baseball.png" />
        <div class="item-details">
            <a href="#">Photography</a>
        </div>
    </div>
    <div class="item" data-groups='["wallpaper", "3d"]' data-date-created="2011-08-14" data-title="Tennis">
        <img src="img/tennis-ball.png" />
        <div class="item-details">
            <a href="#">3D Render, Wallpaper</a>
        </div>
    </div>
    <div class="item" data-groups='["3d", "wallpaper"]' data-date-created="2009-05-27" data-title="iMac">
        <img src="img/imac.png" />
        <div class="item-details">
            <a href="#">3D Render, Wallpaper</a>
        </div>
    </div>
    <div class="item" data-groups='["graphics"]' data-date-created="2012-05-14" data-title="Master Chief">
        <img src="img/master-chief.png" />
        <div class="item-details">
            <a href="#">Graphic Design</a>
        </div>
    </div>
</div>