nav
  width: 100%
  height: 80px
  background-color: #fff
  color: #000
  #home_log_in
    color: #fff
  .nav-links
    @include outer-container
    a
      float: right
      font-size: 17px
      height: 53px
      padding: 16px 20px 0px 20px
      color: black
      &:hover
        text-decoration: none
    .logo
      float: left
      font-size: 30px
      font-weight: 700
      margin-top: 10px
      padding: 0
      height: auto
    .create-campaign
      float: left
      margin-left: 30px
      color: $staance-yellow
