nav
  background-color: #fff
  width: 100%
  height: 80px
  top: 0
  color: $font-on-light
  position: relative
  border-bottom: 1px solid #acacac
  z-index: 1000
  -webkit-transition: linear .3s
  -moz-transition: linear .3s
  -ms-transition: linear .3s
  -o-transition: linear .3s
  transition: linear .3s
  #home_log_in
    color: $font-on-light
  .nav-links
    -webkit-transition: linear .3s
    -moz-transition: linear .3s
    -ms-transition: linear .3s
    -o-transition: linear .3s
    transition: linear .3s
    @include outer-container
    a
      float: right
      font-size: 17px
      height: 53px
      padding: 15px 14px 0px 11px
      color: $font-on-light
      @include transition (all 0.2s ease-in-out)
      &:hover
        text-decoration: none
        color: #acacac
    #sign_up, #login
      width: 108px
      float: right
      text-align: center
      display: inline
      .icon-user, .icon-off
        font-size: 27px
    #sign_up a:hover
      padding-top: 14px
      color: $pink
    #login
      width: 91px
    .logo
      float: left
      font-size: 30px
      font-weight: 700
      margin-top: 5px
      padding: 0
      height: auto
    .create-campaign
      float: left
      background-color: $green
      margin: 17px 0 0 30px
      padding-top: 11px
      height: 43px
      border-radius: 5px
      color: white
      @include transition (all 0.2s ease-in-out)
      width: 182px
      &:hover
        background-color: $orange
        color: #fff
        #aa
          color: $orange
      &:active
        font-shadow: 1px 1px
.cam_op
  opacity: 0.8

.short_nav
  height: 61px
  position: fixed
  background-color: rgba(255,255,255,0.9)
.links_up
  margin-top: -10px
.stance_up
  margin: -5px 0 0 81px
.take_down
  margin: 4px 0 -8px 27px
  padding: 0 0 6px 0
.smr_button
  width: 89px !important
  height: 38px !important
  margin-top: 19px !important
  padding-top: 9px !important
  margin-left: 65px !important
#take
  margin-left: 25px
  font-size: 11px
  color: $pink
  opacity: 0
#stance
  margin-left: 89px
  font-size: 11px
  color: $pink
  opacity: 0
#logo_a
  color: $pink
.be_gone
  opacity: 0 !important
#nav-spacer
  display: none
  height: 80px
