.profile_container
  .title 
    Pending
  .details
    - pending_campaigns = CampaignUser.where(user_id: current_user.id, user_type: CREATOR).limit(6)
    - pending_campaigns.map! {|camp| camp = Campaign.where(id: camp.campaign_id, status: PENDING) }.flatten!
    - pending_campaigns.each do |camp|
      .camp
        .camp_thumbnail
          <img src=#{camp.image_url}>
        .camp_details
          = link_to camp.title, camp
  .see_all
    = link_to "see all campaigns", '#'
