.profile_container
  .title 
    Supports
  .details
    - supported_campaigns = CampaignUser.where(user_id: current_user.id, user_type: SUPPORTER).limit(6)
    - supported_campaigns.map! {|camp| camp = Campaign.where(id: camp.campaign_id) }.flatten!
    - supported_campaigns.each do |camp|
      .camp
        .camp_thumbnail
          <img src=#{camp.image_url}>
        .camp_details
          = link_to camp.title, camp
        .status
          = camp.status
  .see_all
    = link_to "see all campaigns", '#'
