.supports
  .title 
    Supports
    - supported_campaigns = CampaignUser.where(user_id: current_user.id, user_type: "Supporter")
    - supported_campaigns.map! {|camp| camp = Campaign.where(id: camp.campaign_id) }.flatten!
    - supported_campaigns.each do |camp|
      .camp
        = link_to camp.title, camp
