.profile_container
  .title 
    Donated
  .details
    - donated_campaigns = CampaignUser.where(user_id: current_user.id, user_type: DONOR).limit(6)
    - donated_campaigns.map! {|camp| camp = Campaign.where(id: camp.campaign_id) }.flatten!
    - donated_campaigns.each do |camp|
      .camp
        .camp_thumbnail
          <img src=#{camp.image_url}>
        .camp_details
          = link_to camp.title, camp
  .see_all
    = link_to "see all campaigns", '#'
