.user
  .title
    User Information 
    .update
      - if current_user.id == @user.id
        = link_to "update information", edit_user_registration_path
  .user_details
    .name
      = @user.name
    .email  
      = @user.email
    .about_me
      = @user.about_me

