#profile
  #user_info
    = render 'user_information'
  #user_campaigns
    = render 'user_campaigns'    
  #user_supported
    = render 'user_supported_campaigns'
  #user_donated
    = render 'user_donated_campaigns'

