.campaign-snapshot{class: klass, style: style}
  %img{src: image}
  .campaign-details
    .text
      %a.name{href: "#"} Campaign Name Goes Here
      .creator
        by
        %a{href: "#"} Eadon Jacobs
    .stats-1
      .raised $1,382
      - percent = rand(1..100)
      .percent #{percent}%
    .bar
      %span{style: "width: #{percent}%"}
    .stats-2
      .time-left
        %span 5
        days left
      .supporters
        %span 84
        supporters    
