.campaign-snapshot{class: klass, style: style}
  / %a{href: "http://www.youtube.com/watch?v=opj24KnzrWo", class: "fancy_fancy"} this is the structure for Fancybox. Josh will resolve the assest pipleine order on Sunday. 
  %img{src: image}
  .campaign-details
    .text
      %a.name{href: "#"} Campaign Name Goes Here
      .creator
        by
        %a{href: "#"} Eadon Jacobs
    .stats-1
      .raised $1,382
      - percent = rand(1..100)
      .percent #{percent}%
    .bar
      %span{style: "width: #{percent}%"}
    .stats-2
      .time-left
        %span 5
        days left
      .supporters
        %span 84  
        supporters
