.campaign-snapshot
  %img{src: 'assets/click_to_play.jpg', class: 'c2p-video'}
  .features-details
    .campaign-name-stats
      .campaign-name Campaign Name Goes Here
      .campaign-stats
        %span $1,382
        raised
        %span 5
        days left
    %a.button{href: "#"} View Campaign
