.featured-video{style: style, class: klass}
  %img{src: image}
  .features-details
    .campaign-name-stats
      .campaign-name Campaign Name Goes Here
      .campaign-stats
        %span $1,382
        raised &nbsp;&nbsp;|&nbsp;
        %span 5
        days left
    %a.button{href: "#"} View Campaign
