.featured-campaigns
  .featured-video-box
    %a.arrow.left{href: "#"}
      %i.icon-chevron-sign-left.icon-4x
    .featured-video
      %img{src: 'assets/click_to_play.jpg'}
      .features-details
        .campaign-name-stats
          .campaign-name Campaign Name Goes Here
          .campaign-stats
            %span $1,382
            raised
            %span 5
            days left
        %a.button{href: "#"} View Campaign
    %a.arrow.right{href: "#"}
      %i.icon-chevron-sign-right.icon-4x
    .slider-icons
      %i.icon-circle
      %i.icon-circle
      %i.icon-circle
      %i.icon-circle.active
      %i.icon-circle
      %i.icon-circle
      %i.icon-circle
      %i.icon-circle
    
