#featured-campaigns
  #featured-video-box
    #arrow.left
      %i.icon-chevron-left.icon-4x   
    #featured-video-image-box
      - @featured.each_with_index do |campaign, index|
        #featured-video-image{class: index}
          = link_to image_tag(campaign.image_url), campaign.video_url, class: 'fancybox'
        #shadowlt
        #shadowrt
    #arrow.right
      %i.icon-chevron-right.icon-4x
  #featured-details-box
    #slider-icons
      %i.icon-circle.0.selected
      %i.icon-circle.1
      %i.icon-circle.2
    #featured-details-inner-box
      - @featured.each_with_index do |campaign, index|
        #featured-video-details{class: index}
          = render 'home/featured_video_details', {campaign: campaign}
    
    
