#most_trending
  Most Successful Campaigns
  - @most_successful_campaigns.each do |camp|
    .campaign
      .title
        %br= camp.title 
      .pitch
        %br= camp.pitch  
      .funding_goal
        %br= camp.funding_goal
