#most_trending
  Most Trending Campaigns
  - @trending_campaigns.each do |camp|
    .campaign
      .title
        %br= camp.title 
      .pitch
        %br= camp.pitch  
      .funding_goal
        %br= camp.funding_goal
