.select-bar
  = link_to 'HOTLY DEBATED', '#', class: 'selected', id: 'debated'
  = link_to 'MOST FUNDED', '#', id: 'most-funded'
  = link_to 'SUCCESS STORIES', '#', id: 'successes'
  = link_to 'TOPICS', '#', class: 'topics'
