.staance-container
  .staance-box
    .staance-motto
      Crowd funding for the political causes that matter... to you.

= render 'home/featured_campaigns'
= render 'home/select_bar'
= render 'home/campaign_grid'
