#topic_title_box
  #topic_title

= render 'home/featured_campaigns'
= render 'home/select_bar'
%ul{class: 'campaign-grid'}
  = render 'home/campaign_grid', { trending: @trending, most_funded: @most_funded, most_successful: @most_successful }
