<div>
	<!-- <div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" data-font="verdana"></div> -->
<div class="fb-login-button" data-show-faces="true" data-width="200" data-max-rows="1" data-scope="publish_actions"></div>
<div><input type="button" value="Like-Campaign" onclick="postLike();"></div>
<a href="https://twitter.com/intent/tweet?button_hashtag=grassroots&text=Take%20a%20look%20at%20this%20campaign..." class="twitter-hashtag-button" id="twitter"></a>
</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
