<div>
	<!-- <div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" data-font="verdana"></div> -->
<!-- <div class="fb-login-button" data-show-faces="true" data-width="200" data-max-rows="1" data-scope="publish_actions"></div> -->
<div id="facebook-like"><input id="fb-button" type="button" onclick="postLike();"></input></div>
<div id="tweet-btn-widget">
    <div class="tweet-btn-o"><a href="#" class="btn" target="_blank" id="tweet-btn"><span class="twitter_label"><%= image_tag("facebook-twitter.png") %></span></a></div>
    <div class="tweet-cnt-o"><i></i><u></u><a href="#" id="tweet-cnt" target="_blank">0</a></div>
  </div>
</div>
<%= render 'shared/campaign/twitter' %>
<script>
	Twitter.createTweetText();
</script>


