.fundraise
  @include span-columns(5)
  background-color: $staance-blue
  height: 350px
  width: 438px
  margin-top: 30px
  float: right
  box-shadow: $shadow
  .total
    font-size: 45px
    color: #fff
    text-shadow: 1px 1px #545454
    text-align: center
    padding-top: 21px
  .donation_total
    color: #fff
    font-weight: 300
    margin: 12px
  ul
    list-style: none
    li
      text-align: center
      padding-bottom: 30px 
    .stats    
      color: #3f3f3f
      font-size: 18px
      color: #fff
      font-weight: 300
      display: inline-block
      width: 117px

  #progress_bg, #progress
    height: 40px
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.41)
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.41)
    box-shadow: 0 1px 1px rgba(0,0,0,.41)
    -webkit-border-radius: 30px
    -moz-border-radius: 30px
    border-radius: 4px
  #progress_bg 
    margin: 28px auto
    width: 80%
    background: #dbdbdb
    #progress
      background-color: $staance-yellow
      min-width: 2%
      max-width: 100%
      box-shadow: 0 0 3px #545454
      display: inline-block
  .donate
    width: 100%
    .contribute
      width: 285px
      margin: 0 auto
