.status_tabs
  @include span-columns(5)
  float: right
  background-color: $staance-blue
  height: 405px
  width: 438px
  margin-top: 60px
  box-shadow: $shadow
  border-radius: 5px
  .tabs_fundraiser
    width: 100%
    margin: -42px 25px 
    list-style: none
    height: 40px
    line-height: 40px
    padding: 0
    li
      display: inline-block
      float: left
      font-size: 14px
      width: 130px
      text-align: center
      background-color: #0092c3
      border-top: 2px solid lightblue
      border-right: 2px solid lightblue
      border-left: 2px solid lightblue
      border-radius: 4px 4px 0 0
      a
        color: #fff
        text-decoration: none
  .fundraise
    margin-top: 30px
    .total
      font-size: 45px
      color: #fff
      text-shadow: 1px 1px #545454
      text-align: center
      padding-top: 21px
      font-weight: 700
    .donation_total
      color: #fff
      font-weight: 300
      margin: 12px
      margin: -18px 0 0 72px
      font-size: 21px
    .deadline
      color: white
      text-align: center
      margin: 31px 49px 17px 49px
      padding: 11px 0
      font-size: 24px
      border-top: 1px solid
      border-bottom: 1px solid
      .countdown_value
        font-size: 17px
    #progress_bg, #progress
      height: 40px
      -moz-box-shadow: 0 1px 1px rgba(0,0,0,.41)
      -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.41)
      box-shadow: 0 1px 1px rgba(0,0,0,.41)
      -webkit-border-radius: 30px
      -moz-border-radius: 30px
      border-radius: 4px
    #progress_bg 
      margin: 18px auto 28px auto
      width: 80%
      background: #dbdbdb
      #progress
        background-color: $staance-yellow
        min-width: 2%
        max-width: 100%
        box-shadow: 0 0 3px #545454
        display: inline-block
    .donate
      width: 100%
      margin-top: 29px
      .contribute
        width: 285px
        margin: 0 auto
        #donation
          height: 38px
          color: #545454
          padding-left: 26px
          font-size: 15px
          border: none
          width: 113px
          border-radius: 3px
        .button
          width: 150px
          margin-left: 19px
          cursor: pointer
      .countdown
        display: none

#disqus_thread
  width: 400px
  margin: 60px auto
  padding: 20px
  margin-top: 60px
  background-color: $background-light-grey
  border-radius: 5px


.ghost
  visibility: hidden
.hidden
  display: none
#active
  background-color: $staance-blue
