.campaign_header
  height: 185px
  padding: 50px 0 0 23px
  .image
    @include span-columns(2 of 12)
    img
      width: 100%
      height: 100%
  .copy
    @include span-columns(7 of 12)
    position: relative
    #admin-console
      float: right
      padding: 10px
      border: 1px solid $staance-blue
      text-align: center
      #admin-title
        margin-bottom: 10px
      a
        display: inline-block
        background-color: $staance-blue
      .disabled
        background-color: $staance-dark-gray
        cursor: default
        pointer-events: none

    .title
      width: 70%
      font-size: 28px
      white-space: normal
    .blurb
      float: none
      margin: 15px auto 20px auto
      text-align: center
      background-color: #fff
      box-shadow: $shadow
      border-radius: 10px
      min-height: 80px
      padding: 20px
  .user_interaction_summary
    @include span-columns(3 of 12)
    color: $staance-dark-gray
    min-height: 50px
  .social_show_page
    float: none
    #facebook-like
      float: left
      margin: 10px
    #tweet-btn-widget
      margin: 10px
      float: left
  .support_button
    margin-left: 5px
    float: left
    padding: 15px 0
    text-align: center
    font-size: 15px
    border: none
    #support_link
      background-color: $staance-blue
      padding: 10px 60px
      border-radius: 2px
      margin-left: 5px
      color: #fff
      @include transition (all 0.2s ease-in-out )
      &:hover
        background-color: $hover-green
      &.supported
        color: #fff
        background-color: $staance-yellow
        border-radius: 2px
        margin-left: 5px
        padding: 10px 52px
  .supported_banner
    color: #fff
    background-color: $staance-yellow
    border-radius: 2px
    margin: 10px 0px 5px 10px
    padding: 10px 52px
    float: left
    text-align: center
    font-size: 15px
    border: none
  .supporter_count
    padding-left: 10px
  .donor_count
    padding-left: 10px

// SOCIAL BUTTONS

#tweet-btn-widget
  a
    overflow: none
    height: 55px
    width: 54px
    border: none
.twitter_label
  position: absolute
  right: -64px
.tweet-cnt-o
  height: 55px
  width: 40px
  line-height: 50px
  font-size: 13px
  #tweet-cnt
    width: 40px
#facebook-like
  height: 55px
  width: 54px
  #fb-button
    border: none
    border-radius: 5px
    cursor: pointer
    height: 100%
    width: 100%
    background-image: url('facebook-twitter.png')

// ADMIN CONSOLE


#status-button
  margin-right: 5px



