.campaign_header
  background-color: $background-light-grey
  height: 185px
  padding: 17px 0 0 23px
  .image
    @include span-columns(2 of 12)
    img
      width: 100%
      height: 100%
  .copy
    @include span-columns(8 of 12)
    .title
      font-size: 23px
    .blurb


