
%h1 Title: Call to Action
%img{src: "http://placekitten.com/300/200", alt: "Cute photo to tug the heartstrings"}
%h3 The need
%p
  The first paragraph should be no longer than three sentences.  You need to grab
  the readers attention quickly.  What is the key goal of your campaign?
%h3 The Opportunity
%p
  What will happen should your campaign be funded?  How will the 
  world become a better place?  Be realistic and credible.  Your readers will only donate if they find your campaign inspiring and
  possible.
%h3 The Team
%p
  Who are the people behind the campaign?  What is their track record? Why are you the right people to make this work?
%h3 More info
%p
  Provide links to your causes' website for those who want to know more.
