.form_head
  #editable{contenteditable: ""}  
    .form_full#edit_magic
      = render 'campaigns/new/example'
  #campaign_id{:style => 'display: none'}
    = @campaign.id
#cont_button
  Step 3
  %i.icon-arrow-right

