%script{:src => "//tinymce.cachefly.net/4.0/tinymce.min.js"}
:javascript
  tinymce.init({
      selector: "#editable",
      inline: true,
      plugins: [
          "advlist autolink lists link image charmap print preview anchor",
          "searchreplace visualblocks code fullscreen",
          "insertdatetime media table contextmenu paste"
      ],
      toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
  });
.form_head
#editable{contenteditable: "", onchange: 'sizeBox'}  
  .form_full#edit_magic
    = render "campaigns/new/example"
#campaign_id{:style => 'display: none'}
  = @campaign.id
#cont_button.button
  Step 3
  %i.icon-arrow-right

  
