#login
  %h2
    Create Campaign
    %form{:action => "javascript:void(0);", :method => "POST"}
      %fieldset
        %p
          %label{:for => "email"} E-mail address
        %p
          %input#email{:onblur => "if(this.value=='')this.value='mail@address.com'", :onfocus => "if(this.value=='mail@address.com')this.value=''", :type => "email", :placeholder => "mail@address.com"}/
        %p
          %input{:type => "submit", :value => "Sign In"}/
