#welcome_campaign
  %p
    Congratulations! You're now ready for the next step: letting people know why they should fund your campaign.
  %p
    Right now, no one else can see your campaign. You can edit anything you want. When you are satisfied and ready to get funded, click the 'Go Live' button on the last page to make your campaign visible.
