.support
  - if user_signed_in?
    = link_to "Support", campaign_users_path(@campaign.id), class: 'link_button', method: 'post', id: "support", remote: true

.supporter
  - if @supporters
    Supporters:
    - @supporters.each do |user|
      %a{:href => "/users/#{user.id}"}
        \#{user.name}<br>
