.campaign_completed_banner
  .title 
    Campaign Not Funded
  .donation_total
    Rome was not built in a day...When ready, restart a campaign here:
    %span{id: "link"} 
      = link_to "Create Campaign", new_campaign_path
