<form action="/process_card" method="POST">
  <script
    src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
    data-key=<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>
    data-amount="2000"
    data-name="Demo Site"
    data-description="2 widgets ($20.00)"
    data-image="/128x128.jpg">
  </script>
</form>
