#body
  #head
    #form_one
      %h2
        =render 'campaigns/new/form_one', url: campaign_path
    #form_two{style: "display: none"}
      %h2
        =render 'campaigns/new/form_two'
    #form_three{style: "display: none"}
      %h2
        %div
