.topics_container
  - @topics.each do |topic|
    %h3= topic.title
    %ul
      - campaign_by_topic(topic).each do |campaign|
        - if campaign
          %li
            %a{:href => "/campaigns/#{campaign.id}"}= campaign.title
