/ #tag_cloud
/   - tag_cloud Campaign.tag_counts, %w[s m l] do |tag, css_class|
/     = link_to tag.name, tag_path(tag.name), class: css_class
/ %br  ==> when ready, uncomment for tag cloud
All Campaigns:
%br
%campaigns_container
  - @campaigns.each do |campaign|
    = campaign.title
    %br
