.campaign
  =render 'campaigns/header'
.story
  .part_one
    - if @campaign.suspended?
      = render 'unsuccessful_campaign', campaign: @campaign
    - elsif @campaign.funded? && @campaign.after_deadline?
      = render 'successful_campaign', campaign: @campaign
    .status_tabs
      = render 'campaigns/campaign_tab_logic'
    =render 'campaigns/video'
    =render 'campaigns/pitch'
