<<<<<<< HEAD
Campaign Title: 
= @campaign.title
=======
= @campaign.title
%br
- if !session[:support].include?(@campaign.id)
	= link_to "Support", campaign_users_path(@campaign.id), method: 'post', id: "support" ,remote: true
>>>>>>> Updated Controller, view and auth helper to implement 'follow'
