.campaign
  =render 'campaigns/header'
.story
  .part_one
    - if @campaign.suspended?
      = render 'unsuccessful_campaign', campaign: @campaign
    - elsif @campaign.funded? && @campaign.after_deadline?
      %h1 Successful!
      = render 'successful_campaign', campaign: @campaign
    - elsif @campaign.before_deadline?
      .status_tabs
        = render 'campaigns/campaign_tab_logic'
    =render 'campaigns/video'
  .part_two
    =render 'campaigns/pitch'
