$background-white: #fff
$background-light-grey: #fafafa
$staance-blue: #0f7282
$staance-dark-gray: #545454
$staance-yellow: #fece12

body
	$base-textcolor: #fafafa
	$background-white: #fff
	$background-light-grey: #fafafa
	$staance-blue: #0f7282
	$staance-dark-gray: #545454
	$staance-yellow: #fece12
	family: 'Lato'
	color: #545454

	h1

	h2
	
	h3
	
	p
		font-size: 0.9em
	
	a
		color: #0092c3
>>>>>>> 63f5bb010c24789d33695a1a4b18dd775e3dd107
