$background-white: #fff
$background-light-grey: #f6f6f6
$staance-blue: #0f7282
$staance-dark-gray: #545454
$staance-yellow: #fece12
$shadow: 0 0 4px #545454

body
	font-family: 'Lato'
	font-weight: 300
	color: $staance-dark-gray
	margin: 0

	.container
		min-height: 800px

	h1

	h2
	
	h3
	
	p
		font-size: 1em
	
	a
		color: #0092c3
		
	a:hover
		text-decoration: none

	#cke, #cke_1_topcke, .cke_1, .cke_reset_all, .cke_chrome, .cke_editor_content, .cke_float, .cke_ltr, .cke_browser_webkit, #cke_content
		left: clear !important
	.cke_inner
		position: fixed
		top: 0
		width: 1036px

	input
		height: 45px
		padding-left: 10px
		font-size: 15px
		&:focus
			outline: none

	.button_two
		-webkit-border-radius: 6px
		-moz-border-radius: 6px
		-ms-border-radius: 6px
		-o-border-radius: 6px
		border-radius: 6px
		text-shadow: rgba(0,0,0,0.3) 0 1px 0
		-webkit-box-shadow: #545454 0 2px 0
		-moz-box-shadow: #545454 0 2px 0
		box-shadow: #545454 0 2px 0
		-webkit-transition: background 150ms,color 150ms,box-shadow 150ms
		-moz-transition: background 150ms,color 150ms,box-shadow 150ms
		-o-transition: background 150ms,color 150ms,box-shadow 150ms
		transition: background 150ms,color 150ms,box-shadow 150ms
		background-color: #fece12
		display: inline-block
		font-size: 18px
		line-height: 1
		color: white
		text-align: center
		padding: 16px 26px 13px 26px
		margin: 10px 0
		clear: both
		white-space: nowrap

	.button_two:hover
		-webkit-box-shadow: #3cb44b 0 2px 0
		-moz-box-shadow: #3cb44b 0 2px 0
		box-shadow: #3cb44b 0 2px 0
		background-color: #fece12
		color: white

	.button_two_small
		font-size: 14px
		padding: 14px 16px 10px 16px

	.button
		height: auto
		padding: 10px 20px
		border: none
		border-radius: 4px
		color: white

	.link_button
		padding: 10px 20px
		border: none
		border-radius: 4px
		color: white
		background-color: $staance-blue
		height: 45px
		font-size: 15px
		&:focus
			outline: none
		&:hover
			background-color: white
			color: $staance-blue
			border: 2px soild #000

		// height: 30px
		// padding-left: 5px
		// color: white
		// .notice, .alert
		// 	display: none
