$background-white: #fff
$background-light-grey: #fafafa
$staance-blue: #0f7282
$staance-dark-gray: #545454
$staance-yellow: #fece12

body
	margin: 0
	family: 'Lato'
	color: #545454

	h1

	h2
	
	h3
	
	p
		font-size: 0.9em
	
	a
		color: #0092c3
