#tweet-btn-widget {
	white-space:nowrap;
	overflow:hidden;
	text-align:left;
}

a {
	outline:none;
	text-decoration:none;
}

.tweet-btn-o,.tweet-cnt-o,.btn,.btn .label,#tweet-cnt {
	display:-moz-inline-stack;
	display:inline-block;
	vertical-align:top;
	zoom:1;
	}

	.tweet-btn-o {
	max-width:100%;
	}

.btn {
	position:relative;
	background-color:#F8F8F8;
	background-image:-webkit-gradient(linear,left top,left bottom,from(#FFF),to(#DEDEDE));
	background-image:-moz-linear-gradient(top,#FFF,#DEDEDE);
	background-image:-o-linear-gradient(top,#FFF,#DEDEDE);
	background-image:-ms-linear-gradient(top,#FFF,#DEDEDE);
	background-image:linear-gradient(top,#FFF,#DEDEDE);
	border:#CCC solid 1px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	color:#333;
	font:normal normal normal 11px/18px 'Helvetica Neue',Arial,sans-serif; 
	font-weight: 300;
	text-shadow:0 1px 0 rgba(255,255,255,.5);
	-webkit-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	user-select:none;
	cursor:pointer;
	height:18px;
	max-width:98%;
	overflow:hidden;

	}

	.btn,.tweet-cnt-o {
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	height:20px;
	max-width:100%;

	}

	.btn i {
	position:absolute;
	top:50%;
	left:2px;
	margin-top:-5px;
	width:16px;
	height:13px;
	background:rgba(0,0,0,0);

	}

	.btn .label {
	padding:0 3px 0 19px;
	white-space:nowrap;

	}

.tweet-cnt-o {
	position:relative;
	background:#FFF;
	border:#BBB solid 1px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	min-height:18px;
	_height:18px;
	min-width:15px;
	_width:15px;

	}

	.tweet-cnt-o i,.tweet-cnt-o u {
	position:absolute;
	zoom:1;
	line-height:0;
	width:0;
	height:0;
	left:0;
	top:50%;
	margin:-4px 0 0 -4px;
	border:4px rgba(0,0,0,0) solid;
	_border-color:pink;
	_filter:chroma(color=pink);
	border-right-color:#AAA;
	border-left:0;

	}

	.tweet-cnt-o i,.tweet-cnt-o u {
	position:absolute;
	zoom:1;
	line-height:0;
	width:0;
	height:0;
	left:0;
	top:50%;
	margin:-4px 0 0 -4px;
	border:4px rgba(0, 0, 0, 0) solid;
	_border-color:pink;
	_filter:chroma(color=pink);
	border-right-color:#AAA;
	border-left:0;

	}

	.tweet-cnt-o u {
	margin-left:-3px;
	border-right-color:#FFF;

	}

	#tweet-cnt {
	font:normal normal normal 11px/18px 'Helvetica Neue',Arial,sans-serif; 
	font-weight: 300;
	white-space:nowrap;
	text-align:center;
	color:#333;
	padding:0 5px;

}


