#profile-container
  background-color: $background

#profile-box
  @include outer-container
  padding: 20px 0

#user-image
  @include span-columns(2)
  height: 100px
  width: auto
  border: 3px solid $lightgray

#user-details
  @include span-columns(6)
  color: $lightgray

#user-name
  font-size: 35px
  font-weight: 700

#user-email
  font-size: 15px

#user-about
  font-size: 15px
  margin-top: 10px

#user-edit
  @include span-columns(4)
  font-size: 20px
  text-align: right

#profile-nav-bar
  background-color: $background

#profile-nav-links
  @include outer-container
  padding-top: 30px

  .profile-nav-link
    background-color: $green
    padding: 20px 20px 0 20px
    margin-right: 5px
    border-radius: 10px 10px 0 0
    font-size: 20px
    color: $lightgray

#profile-nav-underline
  height: 15px
  background-color: $green

