.sign-in-form
  width: 280px
  padding: 20px
  border: 1px solid $staance-blue
  text-align: center

  input
    margin-top: 10px
    width: 100%

  .button
    position: relative
    background-color: $staance-blue
    margin-bottom: 5px
    width: 100%

  .check-box
    width: auto
    height: auto
    text-align: left

  .remember-me
    margin-bottom: 10px

