<!DOCTYPE html>
<html>
<head>
  <title>Staance</title>
  <script type="text/javascript" src="/../../vendor/assets/javascripts/."></script>
</head>

<body>
  <div class="container">
    <%= yield %>
  </div> 
</body>
</html>
